<div class="container" style="margin-left: 270px; margin-top: 30px;">
  <div class="row" style="margin-bottom: 30px;">
    <h2>Register</h2>
  </div>
  <div class="row">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" style="width: 40%; border: 2px solid;background: whitesmoke">
      <div class="form-group" style="padding-left: 20px; padding-right: 20px;">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && formControls.firstName.errors }"/>
        <div *ngIf="submitted && formControls.firstName.errors" class="invalid-feedback">
          <div *ngIf="formControls.firstName.errors.required">First Name is required</div>
        </div>
      </div>
      <div class="form-group" style="padding-left: 20px; padding-right: 20px;">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && formControls.lastName.errors }"/>
        <div *ngIf="submitted && formControls.lastName.errors" class="invalid-feedback">
          <div *ngIf="formControls.lastName.errors.required">Last Name is required</div>
        </div>
      </div>
      <div class="form-group" style="padding-left: 20px; padding-right: 20px;">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && formControls.username.errors }"/>
        <div *ngIf="submitted && formControls.username.errors" class="invalid-feedback">
          <div *ngIf="formControls.username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group" style="padding-left: 20px; padding-right: 20px;">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }"/>
        <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback">
          <div *ngIf="formControls.password.errors.required">Password is required</div>
          <div *ngIf="formControls.password.errors.minLength">Password must be at least 8 characters long</div>
        </div>
      </div>
      <div class="form-group" style="padding-left: 20px; padding-right: 20px;">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
      </div>
    </form>
  </div>
</div>
